.app-content {
  padding: 100px 30px;
}

.revws-space {
  height: 15px;
}

.revws-space-small {
  height: 5px;
}

.revws-space-large {
  height: 30px;
}

.fancybox-overlay {
  z-index: 19008010 !important;
}
.fancybox-wrap {
	z-index: 19008020 !important;
}
.fancybox-opened {
  z-index: 19008030 !important;
}
