/* grading shapes - star, heart,... */
.revws-grading {
  display: flex;
  cursor: default;
}
a .revws-grading {
  cursor: pointer;
}

.revws-grade {
  transition: all 200ms linear;
}

.revws-grade path {
  transition: fill 250ms ease;
}

.revws-grade-off path {
  fill: transparent;
  stroke: #d5d5d5;
}

.revws-grade-on path {
  fill: #ffd055;
  stroke: #ffd055;
}

.revws-grade-highlight path {
  fill: #ffe066;
  stroke: #ffe066;
}

/* review layout */
#revws-tab-content {
  margin: 0 0 20px 0;
}

.revws-review-list {
  position: relative;
}

.revws-loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.5;
}
.revws-loading-spinner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.revws-under-review {
  color: red;
  margin-top: -10px;
}

.revws-review {
  margin: 10px 0px;
  padding: 10px;
  border-top: 1px solid #e5e5e5;
}

.revws-review:first-child {
  border-top: none;
}

@media (min-width: 768px) {
  .revws-review-author {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #revws-tab-content .revws-grading {
    margin: 20px 0px;
  }
}

@media (max-width: 768px) {
  .revws-review-author {
    display: flex;
    flex-direction: row;
  }
  #revws-tab-content .revws-grading {
    margin: 0px 20px;
  }
}

.revws-review-author-name {
  color: #222;
  font-size: 12px;
}

.revws-review-date {
  color: #999;
  font-size: 12px;
}

@media (min-width: 768px) {
  .revws-review-details {
    border-left: 1px solid #f5f5f5;
    padding-left: 30px;
  }
}

.revws-review-title {
  color: #222;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.revws-review-content {
  color: #666;
  padding: 10px 0px;
  font-size: 14px;
}

.revws-actions {
  display: flex;
  color: #999;
  font-size: 12px;
}

.revws-actions .btn {
  color: #999;
  font-size: 12px;
  padding: 3px 6px;
}

.revws-actions .btn:hover {
  color: #222;
  text-decoration: none;
}

.revws-actions .revws-report:first-child .btn,
.revws-actions .revws-delete:first-child .btn {
  padding-left: 0px;
}

.revws-action:not(:last-child) {
  border-right: 1px solid #f5f5f5;
  padding-right: 10px;
  margin-right: 10px;
}

.revws-paging {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48px;
}

.revws-page-prev, .revws-page-next {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.revws-page-prev svg, .revws-page-next svg {
  margin: 12px;
  fill: rgba(0, 0, 0, 0.54);
}

.revws-disabled svg {
  fill: rgba(0, 0, 0, 0.26);
}

/* product extra - right panel */
 #revws-product-extra, .revws-product-extra-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#revws-product-extra b,
.revws-product-list .revws-grading,
.revws-comparison .revws-grading,
.revws-product-extra-link .revws-grading {
  margin-right: 10px;
}

.revws-product-list, .revws-comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.revws-replies {
  width: 100%;
  padding: 20px;
  background-color: #EBF3F8;
  margin-top: 10px;
}

.revws-review-with-product {
  display: flex;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.revws-review-with-product .revws-review-wrapper {
  width: 100%;
}

.revws-review-with-product .revws-review {
  margin-top: 30px;
  border: 1px solid #f5f5f5;
}
