.section {
  padding: 30px;
  margin-bottom: 3rem;
  .space {
    margin-top: 2rem;
  }
  label {
    width: 100%;
  }
}

.group {
  width: 250px;
}

.sectionLabel {
  font-size: 1.2rem;
  color: #666;
}

.sectionContent {
  margin-top: 3rem;
}

.grading {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footerContent {
  float: right;
  button {
    margin-left: 1rem;
  }
}

.sectionList {
  list-style-type: none;
  padding-left: 0px;
}

.sectionListItem {
  a {
    text-decoration: none;
    color: #b5b5b5;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.activeSection {
  a {
    color: #222;
  }
}

.margin {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.preview {
  border: 1px solid #eee;
}

.subSection {
  width: 100%;
  padding-left: 2rem;
}

.note {
  margin-top: 1rem;
  font-size: 80%;
  color: #999;
  pre {
    background: #eee;
    padding: 1em;
  }
}
